# Reconhecimento de Padrões (TIP8311) - Trabalho 2


**Professor:** Guilherme de Alencar Barreto  

<img src="https://loop.frontiersin.org/images/profile/243428/203" alt="Foto do Professor" width="150"/>


**Aluno:** Luis Felipe Carneiro de Souza    **Matrícula:** 535049

In [1]:
import pandas as pd
import numpy as np
import time
from scipy.spatial.distance import minkowski
from sklearn.preprocessing import normalize
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
import matplotlib.pyplot as plt
import seaborn as sns
import tqdm

In [4]:
sensor_4 = "https://raw.githubusercontent.com/LuisFelipeCSouza/reconhecimento-de-padroes/refs/heads/main/trabalho-2/wall%2Bfollowing%2Brobot%2Bnavigation%2Bdata/sensor_readings_4.data"

sensor_24 = "https://raw.githubusercontent.com/LuisFelipeCSouza/reconhecimento-de-padroes/refs/heads/main/trabalho-2/wall%2Bfollowing%2Brobot%2Bnavigation%2Bdata/sensor_readings_24.data"

conjunto_4 = pd.read_csv(sensor_4, header=None, sep=',')

conjunto_24 = pd.read_csv(sensor_24, header=None, sep=',')

display(conjunto_4.head())
display(conjunto_24.head())

       0      1      2      3                  4
0  1.687  0.445  2.332  0.429  Slight-Right-Turn
1  1.687  0.449  2.332  0.429  Slight-Right-Turn
2  1.687  0.449  2.334  0.429  Slight-Right-Turn
3  1.687  0.449  2.334  0.429  Slight-Right-Turn
4  1.687  0.449  2.334  0.429  Slight-Right-Turn

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.438,0.498,3.625,3.645,5.0,2.918,5.0,2.351,2.332,2.643,...,0.593,0.502,0.493,0.504,0.445,0.431,0.444,0.440,0.429,Slight-Right-Turn
1,0.438,0.498,3.625,3.648,5.0,2.918,5.0,2.637,2.332,2.649,...,0.592,0.502,0.493,0.504,0.449,0.431,0.444,0.443,0.429,Slight-Right-Turn
2,0.438,0.498,3.625,3.629,5.0,2.918,5.0,2.637,2.334,2.643,...,0.593,0.502,0.493,0.504,0.449,0.431,0.444,0.446,0.429,Slight-Right-Turn
3,0.437,0.501,3.625,3.626,5.0,2.918,5.0,2.353,2.334,2.642,...,0.593,0.502,0.493,0.504,0.449,0.431,0.444,0.444,0.429,Slight-Right-Turn
4,0.438,0.498,3.626,3.629,5.0,2.918,5.0,2.640,2.334,2.639,...,0.592,0.502,0.493,0.504,0.449,0.431,0.444,0.441,0.429,Slight-Right-Turn